
body {
    background-color: #0D0D11;
    box-sizing: border-box;
    font-family: "Bakbak one", Impact, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
}

ul, ol, dl {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/*colored green text*/

.text-label, .colored-text {
    color: #21e786;
}

p {
    font-family: Poppins, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

/*_______________________header_______________________*/

.main-header {
    background-color: #040b11;
}

.logo-img-text {
    text-decoration: none;
    color: #ffffff;
    font-family: Bakbak One;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0 16px;
}

/*_______________________nav links_____________________*/

.nav-link-hdr a:link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.nav-link-hdr a:hover {
    color: #21e786;
    text-decoration: underline ;
}

.nav-link-hdr a:visited {
    color: #ffffff;
}

/*_______________________dropdown_______________________*/

.nav-link-hdr:hover > .subnav {
    display: block;
}

.subnav {
    display: none;
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none; 
}

.hader-nav-list {
    list-style:none
}

/*____________________________________________________*/

.header-connect-btn {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    display: flex;
    gap: 20px;
}

.switch-light-button {
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 41px;
    background: #141b22;
}

.switch-light-icon {
    margin-top: 4px;
}

.btn-discord-header {
    height: 48px;
    padding: 12px 24px;
    display: flex;
    gap: 8px;
    align-items: center;
    background: #141b22;
    border: none;
    text-transform: uppercase;
    color: #fff;
}

.btn-connect-header {
    height: 48px;
    padding: 12px 24px;
    display: flex;
    gap: 8px;
    align-items: center;
    background: #21e786;
    border: none;
    text-transform: uppercase;
    color: #141b22;
}

/*____________________________________________________*/

.tagline {
    padding: 0;
    border: 1px;
    margin: 24px 0;
    background: linear-gradient(3deg, #040b11 52.14%, rgba(4, 11, 17, 0) 73.21%);
}

.main-tagline {
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.main-tagline>p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
}

.numbers {
    padding: 0;
    border: 1px;
    margin: 48px 0;
}

.numbers-item {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 4px 13px  #ffffff66;
}

.numbers-text {    
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    color: #c2c3c5;
}

.tagline-btns {
    padding: 0;
    border: 1px;
    margin: 48px 0;
}

.connect-wallet-btn {
    padding: 12px 24px 12px 24px;
    border: 2px;
    margin: 48px 0;
    align-items: center;
    background-color: #21e786;

    /*text btn*/

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: #141b22;
}

.whitelist-now-btn {
    padding: 12px 24px 12px 24px;
    border: 2px solid #21e786;
    margin: 0 24px;
    align-items: center;
    background-color: transparent;
    
    /*text*/

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}

/*_________________carusel_____________*/

/* .carusel-hft {
    display: flex;
} */

.carusel-items {
    background: #ffffff0d;
    padding: 20px;
}

.nft-item-name {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}

.about-us-hdr {
    padding: 0;
    border: 1px;
    margin-left: 240px;
    margin-top: 0;
    align-items: center;
}

.about-us-hdr>h2 {  
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.about-us-hdr>p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #c2c3c5;
}


.list-item-abts {
    background-color: #141b22;
    margin-left: 120px;
    margin-top: 216px;
    border: 3px solid transparent;
}

.list-item-abts>h3 {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.list-item-abts>p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #C2C3C5;
}

.numbers-about {
    font-size: 80px;
    line-height: 96px;
    text-transform: capitalize;
    opacity: 0.5;
    color: #000;
    -webkit-text-stroke: 1px #21E786;
}

.list-item-abts:hover {
    border: 3px solid transparent;
    border-image: linear-gradient(to left top,#21E786 10%,  transparent 20%, transparent 80%, #21E786 100%);
    border-image-slice: 1;
}

.readmore-about-us {
    border: 2px solid #21e786;
    background-color: transparent;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}

/*__________________how work_________________________*/

.how-to-work-hdr>h2 {
    font-size: 44px;
    line-height: 56px;
    text-transform: uppercase;
    text-align: center;
}

.step-how-to {
    background-color: #141b22;
    border: 3px solid  transparent;
    margin: 30px;
}

.step-how-to:hover {
    border: 3px solid transparent;
    border-image: linear-gradient(to left top,#21E786 10%,  transparent 20%, transparent 80%, #21E786 100%);
    border-image-slice: 1;
}

.step-items>dt {
    line-height: 30px;
    font-size: 22px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    color: #21e786;
}

.step-items>dd {
    font-size: 24px;
    line-height: 32px;
    text-transform: capitalize;
    text-align: center;
}

/*___________________ road map__________________________*/

.road-map-hdr>h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.road-map-list {
    background: #ffffff0d;
}

.phase-step {
    font-family: "Bakbak one", Impact, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.phase-items {    
    list-style: none;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    color: #c2c3c5;
    text-transform: capitalizeupp;
}

.phase-items>p::before {
    content: url(/img/logos/icon_w24h24.png);
    margin-right: 8px;
}

.r-map-btns-arrows {
    border: none;
    background-color: transparent;
}

.arrow-left-roadmap {
    transform: rotate(90deg);
}

.arrow-right-roadmap {
    transform: rotate(-90deg);
}

.r-map-btns-arrows:hover {
    fill: #21E786;
}
/* How else can I recolor the color of the svg arrow when hovering (because this method doesn't work properly) or should I just apply different images? I would like to use only styling. */

.r-map-list-btns-item {
    list-style: none;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #888b8e;
    border: none;
    background-color: transparent;
}

.r-map-list-btns-item:hover {
    color: #fff;
    cursor: pointer;
}

.r-map-list-btns-item:hover.r-map-list-btns-item:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' height='30' width='30'><circle cx='15' cy='15' r='15' fill='%2321E786' fill-opacity='0.2' /> <circle cx='15' cy='15' r='7.5' fill='%2321E786' /></svg>");
    display: flex;
    justify-content: center;
    align-items: center;
}

.r-map-list-btns-item:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' height='30' width='30'><circle cx='15' cy='15' r='15' fill='%23fff' fill-opacity='0.2' /> <circle cx='15' cy='15' r='7.5' fill='%23fff' /></svg>");
    justify-content: center;
    align-items: center;
    display: flex;
    /*background-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' width='152' height='2' viewBox='0 0 152 2'><path d='M0 1H152' stroke='%23888B8E' stroke-width='2' /></svg>");
    background-repeat: no-repeat; */
}

/*___________________our team__________________________*/

.photo-team-card-img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    object-fit: cover;
}

.our-team-hdr>h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.our-team-member {
    box-shadow: 0 2px 5px 0 #1c24331a;
    background: #141b22;
    margin-top: 116px;
    border: 3px solid  transparent;
}

.our-team-member:hover {
    border: 3px solid transparent;
    border-image: linear-gradient(to left top,#21E786 10%,  transparent 20%, transparent 80%, #21E786 100%);
    border-image-slice: 1;
}

.card-name-prof {
    padding: 0;
    border: 1px;
}

.card-name-prof>dt {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}

.card-name-prof>dd {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #c2c3c5;
    margin: 4px 0;
}

.partner-hdr>h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: center;
    text-transform: capitalize;
}

/*__________________________faq______________________________*/

.details-item[open] .details-item-header::after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='32'><path d='M19.6663 2L10.9997 2L2.33301 2' stroke='%2321E786' stroke-width='3' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round' /></svg>");
    width: 32px;
    height: 32px;
}

.details-item-header::after {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='32'><path d='M24.6663 16H15.9997L7.33301 16' stroke='%2321E786' stroke-width='3' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round'/><path d='M15.999 24.6673L15.999 16.0007L15.999 7.33398' stroke='%2321E786' stroke-width='3' stroke-miterlimit='10' stroke-linecap='square' stroke-linejoin='round'/></svg>");
    width: 32px;
    height: 32px;
}

.details-item-header:not(:hover).details-item-header::after {
    opacity: 50%;
}

.details-item>p {
border-top: 1px solid #434343;
padding-top: 15px;
}

.faq-hdr>h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

    .details-item {
    background: #141b22;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px;
    margin: 24px 0;
    padding: 15px;
}

    .details-item>summary {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
}

    .details-item>p {        
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #c2c3c5;
}

/*___________________join___________________*/

.subscribe-hdr>h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.subscribe-hdr>p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #c2c3c5;
    text-transform: capitalize;
}

.btn-discord-footer {
    background: #5865f2;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    align-items: center;
    padding: 12px 24px 12px 24px;
    display: flex;
    gap: 8px;
    align-items: center;
    border: none;
    color: #fff;
}

.btn-whitelist-footer {    
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: #141b22;
    background: #21e786;
    align-items: center;
    padding: 12px 24px 12px 24px;
    border: 0;
}

.social-links-items {
    width: 50px;
    height: 50px;
    background: #c2c3c526;
}

.logo-img-text-footer {
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    margin: 16px;
}

.list-nav-links-footer a {
    text-decoration: none;
    font-family: Poppins, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    color: #c2c3c5;
    text-transform: capitalize;
}

.list-nav-links-footer a:hover {
    color: #21e786;
}

.main-footer {
    border-top: 1px solid #434343;
    height: 60px;
}

/*_________________________catalog_______________*/


.line-hdr>h1 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    background-color: #141b22;
}

.breadcrumb-nav {
    list-style: none;
}

.breadcrumb-nav li {
    display: inline;
}

.breadcrumb-nav li+li:before {
    padding: 2px;
    color: #888b8e;
    content: "|";
    padding: 8px;
}

.breadcrumb-nav a {
    color: #888b8e;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.breadcrumb-nav li:last-child a {
    color: #08fa0c;
}


.catalog-nft>h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
}

.subscribe-colored {
    background: linear-gradient(225deg, #2333de 0, #0abe66 100%);
    border-radius: 8px;
}

.footer-colored>p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
}
.list-nav-links-footer-colored>h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.list-links-footer-colored>h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.footer-colored-links {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: right;
    color: #c2c3c5;
    text-transform: capitalize;
}

.footer-colored-links:hover {
    color: #21e786;
}

/*______________________catalog item_________________*/


.item-info>h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.item-info>p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
}

/* ! need to change the html code to add separate lists instead of one with multiple nested dt ? */
.meta-info-item dt {
    background: #141b22;
    padding: 20px;
    border:1px;
}

.meta-info-name {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0;
    text-align: left;
    color: #c2c3c5;
}

.meta-info-value {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.txt-for-price, .price-for-item {
    font-family: "Bakbak One", Impact, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.links-item-info a:first-child {
    align-items: center;
    padding: 16px 24px 16px 24px;
    border: 2px;
    margin-bottom: 80px;
    background: #21e786;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: #141b22;
}

.links-item-info a {
    border: 2px solid #888b8e;
    padding: 16px 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}

.carusel-hft>h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

/*________need to change the picture to svg for correct disp_____________*/

.slider-left {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: 1px solid #21e786;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke:white;
}

/* .slider-left :hover {

} */

.slider-right {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: 1px solid #21e786;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    stroke: white;
}

/*__________catalog_____________*/

.logo-img-text-colored-footer {
    font-size: 30px;
    line-height: 42px;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 16px;
}

.social-links-items-footer-colored {
    width: 20px;
    height: 20px;
}

.copyright {
    border-top: 1px solid #434343;
    height: 60px;
}

.footer-colored {
    background: #141b22;
}








